body {
  color: #000; /* default foreground color */
  background: linear-gradient(to bottom, transparent, #000) #000; /* modified background color */

  @media (prefers-color-scheme: dark) {
    color: #FFF; /* modified foreground color for dark mode */
    background: linear-gradient(to bottom, transparent, #000) #000; /* modified background color for dark mode */
  }
}
