.homeContainer {
  width: 30%;
  margin: auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  margin-top:200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer h1 {
  font-size: 1.25rem;
  text-align: center;
}

.homeContainer button {
  background-color: #2684FC; /* Change this to the desired red color */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.homeContainer .enterRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.78rem;
  width: 100%;
}

.homeContainer .enterRoom input {
  color: black;
  font-size: 1.12rem;
  padding: 0.30rem;
  border-radius: 8px;
  width: 75%;
  margin-bottom: 0.80rem;
}

.homeContainer .separatorText {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 1.25rem;
}
